.gary-gruver-wrapper
  %section.home-splash.fourth-fastest.flex-container.full-width
    .hero-image-container
      = link_to "/resources/scaling-enterprise-devops/", class: "hero-image-link hero-cta hero-gary-gruver-image" do
        = image_tag "/images/webcast/gruver-cover_2x.jpg", class: "hero-image", alt: "Gary Gruver cover image jpg"
    .hero-container.flex-container.flex-column.full-width.justify-center
      = link_to "/resources/scaling-enterprise-devops/", class: "hero-title hero-cta hero-gary-gruver-title" do
        %h1
          Starting and Scaling DevOps in the Enterprise
      %p.hero-description
        Sharing his pioneering insight on how organizations can transform their software development and delivery processes, Gary Gruver provides a tactical framework to implement DevOps principles.
      = link_to "/resources/scaling-enterprise-devops/", class: "btn cta-btn accent hero-cta hero-gary-gruver-button" do
        Download the book
